<ion-item>

  <ion-checkbox
    slot="start"
    [checked]="todo.completed"
    (click)="onToggle($event)"
  ></ion-checkbox>

  <ion-label *ngIf="!todo.completed">{{todo.name}}</ion-label>
  <del *ngIf="todo.completed">
    <ion-label>{{todo.name}}</ion-label>
  </del>



  <ion-buttons slot="end">

    <ion-button (click)="onDelete()">
      <ion-icon slot="icon-only" name="trash"></ion-icon>
    </ion-button>

    <ion-button (click)="onEdit()">
      <ion-icon slot="icon-only" name="pencil"></ion-icon>
    </ion-button>

  </ion-buttons>

</ion-item>
